<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message| %>

  <li id="<%= message["id"] %>">
    <a href="/messages/<%= message["id"] %>">
      <%= message["message"] %></a>
    <a href="/messages/<%= message["id"] %>/edit">Edit</a>

    <form method="post" action="/messages/<%= message["id"] %>">
      <input type="hidden" name="_method" value="delete"/>
      <button type="submit">Delete</button>
    </form>
    <a href="/messages/<%= message["id"] %>/comment/new">
      Comment
    </a>
    <% comments.each do |comment| %>
    <% if comment["msg_id"] == message["id"] %>
      <p><%= comment["body"] %></p>
    <% end %>
<% end %>
</li>

<% end %>



